<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Search</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <input type="text" v-model="keyword"><!--ユーザーが入力した値をdataのkeywordに代入-->
    <p v-for="text in filteredKeywords" >{{text.name}}</p> <!--filterdKeywordsで返されたtextsの配列をv-forで表示-->
  </div>
  <script>
    const vm = new Vue({
      el:'#app',
      data: {
        keyword:'',
        texts:[
          {name:'山田'},
          {name:'鈴木'},
          {name:'佐藤'},
          {name:'田中'}
        ]
      },
      computed: {
        filteredKeywords: function(){
          var texts = [];　/*変数textsを定義*/
          for(var i in this.texts){　/**/
            var text = this.texts[i];/**/
            if (text.name.indexOf(this.keyword) !== -1) {/*もしtextのnameにkeywordの値があったら*/
              texts.push(text); /*変数textsにtextを追加*/
            }
          }
          return texts;
        }
      }
    });
  </script>
</body>
</html>